
        <nb-card>
    <nb-card-header>
        <h4 style="float: left; margin: 4px 0px;">Add a User</h4>
        <button nbButton ghost nbTooltip="Cancel" class="float-right"
            style="padding: 8px; margin: 1px 0px;" (click)="cancel()">
            <nb-icon style="margin-right: 4px;" icon="close-square-outline"></nb-icon>
            <span>Cancel</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <div id="editor_holder"></div>
        <button nbButton ghost class="float-right" (click)="addUser()">Add</button>
    </nb-card-body>
</nb-card>
      